{% extends 'index.html' %}
{% load static %}
{% block title %}
{% load cart %}
<title>MyShop | Buyer Profile</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="background text-light p-3 text-center">Buyer Profile Section</h3>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% if User.pic %}
            <img src={{User.pic.url}} width="100%" height="400px" class="w-100">
            {% else %}
            <img src="{% static 'img/noimage.webp' %}" width="100%" height="600px" class="w-100">
            {% endif %}
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <table class="table table-light table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <td>{{User.name}}</td>
                </tr>
                <tr>
                    <th>User-name</th>
                    <td>{{User.username}}</td>
                </tr>
                <tr>
                    <th>Email-ID</th>
                    <td>{{User.email}}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{User.phone}}</td>
                </tr>
                <tr>
                    <th>Address Line -1</th>
                    <td>{{User.addressline1}}</td>
                </tr>
                <tr>
                    <th>Address Line -2</th>
                    <td>{{User.addressline2}}</td>
                </tr>
                <tr>
                    <th>Address Line -3</th>
                    <td>{{User.addressline3}}</td>
                </tr>
                <tr>
                    <th>Pin</th>
                    <td>{{User.pin}}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{User.city}}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{User.state}}</td>
                </tr>
                <tr>
                    <th>Update your profile</th>
                    <td><a class="btn background text-light" href="/updateprofile/">Here</a></td>
                </tr>
            </table>
        </div>
    </div>
    <h3 class="background text-light p-3 text-center">Wishlist Section<a href="/shop/all/all/all/"><span class="material-symbols-outlined">
        add_circle
        </span></a>
        <div class="table-responsive">
            <table class="table table-striped background mt-3" style="font-size:20px; color: rgb(48, 14, 14);">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Base Price</th>
                    <th>Discount</th>
                    <th>Final Price</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for i in Wishlist %}
                <tr>
                    {% if i.product.pic1 %}
                    <td><img src="{{i.product.pic1.url}}" height="100px" width="80px"></td>
                    {% else %}
                    <td><img src="{% static 'img/noimage.webp'}" height="100px" width="80px"></td>
                    {% endif %}
                    <td>{{i.product.name}}</td>
                    <td>{{i.product.basePrice}}</td>
                    <td>{{i.product.discount}}</td>
                    <td>{{i.product.finalPrice}}</td>
                    <td>{{i.product.size}}</td>
                    <td>{{i.product.color}}</td>
                    {% if i.product.stock %}
                    <td>In Stock</td>
                    {% else %}
                    <td>Out of Stock</td>
                    {% endif %}
                    <td><a href="/product/{{i.product.id}}"><span class="material-symbols-outlined" style="color:white">
                        shopping_cart
                        </span></a></td>
                    <td><a href="/deleteWishlist/{{i.id}}"><span class="material-symbols-outlined" style="color:white">
                        delete_forever
                        </span></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </h3>
    <h3 class="background text-light p-3 text-center">Order History<a href="/shop/all/all/all/"></a>
        <div class="table-responsive">
            <table class="table table-striped mt-3" style="font-size:20px; color: rgb(48, 14, 14);">
                <tr>
                    <th></th>
                    <th>Items</th>
                    <th>Order Status</th>
                    <th>Payment Status</th>
                    <th>Order Again!</th>
                </tr>
                {% for i in Checkout %}    
                <tr>
                    <td>{{i.id}}</td>
                    <td>
                        <table>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th></th>                               
                            </tr>
                            {% for item in i.product|product %}
                            <tr>
                                <td><img src={{item|productImage}} width="50px" height="50px"></td>
                                <td>{{ item|productName }}</td>
                                <td>{{ item|productPrice }}</td>
                                <td>{{ item|productColor }}</td>
                                <td>{{ item|productSize }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>{{request|status:i.status}}</td>
                    <td>{{request|order:i.paymentstatus}}</td>
                    <td><a href="/product/"><span class="material-symbols-outlined" style="color:white">
                    shopping_cart
                    </span></a></td>
                    {% if request|checkoutDelete:i.paymentstatus %}
                    <td><a href="/payNow/{{i.id}}/"><span class="material-symbols-outlined" style="color:white" title="Pay Now">
                        credit_card
                        </span></a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if request|checkoutDelete:i.paymentstatus %}
                    <td><a href="/checkoutDelete/{{i.id}}/"><span class="material-symbols-outlined" style="color:white">
                        delete_forever
                        </span></a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr> 
                {% endfor %}
            </table>
        </div>
    </h3>
</div>
{% endblock %}