{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>MyShop | Reset Password</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h3 class="background text-light p-3 text-center">Reset Password Section</h3>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="{% static '../static/img/Log-in.jpeg' %}" class="w-100">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            {% for i in messages %}
            <div class="alert alert-danger" role="alert">
                {{i}}
              </div>
            {% endfor %}
            <form action="#" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="password" class="form-label">Enter New Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Enter password">
                  <p class="background">Make sure your password does not contain your username.</p>
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" name="cpassword" placeholder="Enter password">
                </div>
                <button class="btn background btn-primary text-light w-100">Submit</button>
                <button type="submit" class="btn btn-primary background w-100"><a href="/login/">Login</a></button>
              </form>
        </div>
    </div>
</div>
{% endblock %}